{% load static %}
{% load socialaccount %}
{% load static tailwind_tags %}

<!doctype html>
<html lang="en" data-theme="tea_dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tea Hookup | Find your new favorite vendor</title>

  {% tailwind_css %}

  <!-- Custom styles for this template -->

  <link rel="shortcut icon" type="image/svg" href="{% static 'tea-leaves.svg' %}" />

  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:ital@0;1&display=swap"
    rel="stylesheet">

  {% if 'collection' in request.path %}
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
  {% endif %}

  {% if 'collections/new/' in request.path %}
  <!-- Tom Select -->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

  <!-- SimpleMDE -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  {% endif %}

  <!-- <link href="{% static 'style.css' %}" rel="stylesheet"> -->
  {% load matomo_tags %}
</head>

<body class="bg-gradient-to-b from-[#171d19] to-[#202d1f]">

  <section id="nav" class="bg-gradient from-base-100 to-base-300">
    <div class="navbar py-3 mb-4 container mx-auto">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 text-lime-500">
            <li><a class="" href="{% url 'index' %}">Home</a></li>
            <li><a class="" href="{% url 'vendors' %}">Vendors</a></li>
            <li><a class="" href="{% url 'collections' %}">Collections</a></li>
            <li class="text-primary">
              {% if user.is_authenticated %}
              <a class="" href="{% url 'account_logout' %}" hx-get="/accounts/logout/" hx-target="#htmx-modal">Sign
                Out</a>
              {% else %}
              <a class="" href="{% url 'account_login' %}">Sign In</a>
              {% endif %}
            </li>
          </ul>
        </div>
        <a class="btn btn-ghost text-xl">
          <h4>Tea Hookup</h4>
        </a>
      </div>
      <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="nav-item nav-link rounded mx-2" href="{% url 'index' %}">Home</a></li>
          <li><a class="nav-item nav-link rounded mx-2" href="{% url 'vendors' %}">Vendors</a></li>
          <li><a class="nav-item nav-link rounded mx-2" href="{% url 'collections' %}">Collections</a></li>
          <li class="text-primary">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link link-important rounded mx-2" href="{% url 'account_logout' %}"
              hx-get="/accounts/logout/" hx-target="#htmx-modal">Sign Out</a>
            {% else %}
            <a class="nav-item nav-link link-important rounded mx-2" href="{% url 'account_login' %}">Sign In</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </section>

  

  <dialog class="modal" id="daisy_modal">
    <div class="modal-box bg-base-300 w-8/12 max-w-5xl" id="htmx_modal">
    </div>
  </dialog>

  {% block content %}{% endblock %}

  <section class="bg-base-300 mt-4" id="footer">
    <footer class="footer p-10 text-base-content container mx-auto">
      <aside>
        <img class="mb-2" src="{% static 'tea-leaves.svg' %}" alt="" width="24" height="24">
        <p>&copy; Tea Hookup 2023</p>
      </aside>
      <nav>
        <header class="footer-title">Features</header>
        <a class="link link-hover" href="{% url 'vendors_submit' %}">Submit a vendor</a>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Your profile</a>
        {% endif %}
      </nav>
      <nav>
        <header class="footer-title">Resources</header>
        <a class="link link-hover" href="{% url 'releases' %}">Releases</a>
      </nav>
      <nav>
        <header class="footer-title">About</header>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover" href="{% url 'privacy' %}">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
      </nav>
    </footer>
  </section>

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  {% tracking_code %}
</body>

</html>