{% load static %}
{% load socialaccount %}
{% load static tailwind_tags %}
{% load meta %}

<!doctype html>
<html lang="en" data-theme="tea_dark">

<head {% meta_namespaces %}>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include "meta/meta.html" %}

  {% if not meta %}
  <title>Tea Hookup | Find your new favorite vendor</title>
  {% endif %}

  {% tailwind_css %}

  <!-- Custom styles for this template -->

  <link rel="shortcut icon" type="image/svg" href="{% static 'tea-leaves.svg' %}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:ital@0;1&display=swap"
    rel="stylesheet">

  {% if 'collection' in request.path %}
  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
  {% endif %}

  {% if 'collections/new/' in request.path %}
  <!-- Tom Select -->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

  <!-- SimpleMDE -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  {% endif %}

  <!-- <link href="{% static 'style.css' %}" rel="stylesheet"> -->
  {% load matomo_tags %}
</head>

<body class="overflow-x-hidden flex flex-col min-h-screen">

  {% include 'navbar.html' %}
  
  <dialog class="modal" id="daisy_modal">
    <div class="modal-box bg-base-300 w-11/12 md:w-fit max-w-5xl" id="htmx_modal">
    </div>
  </dialog>

  <section class="flex-auto">
  {% block content %}{% endblock %}
  </section>

  {% include 'footer.html' %}

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  {% tracking_code %}
</body>

</html>