{% load comments %}
{% load comments_xtd %}

<div id="comments">
    {% get_comment_count for object as comment_count %}
    <div class="py-4 text-center">
        <i class="material-symbols-outlined material-small">chat</i>
        {{ comment_count }} comment{{ comment_count|pluralize }}
        ha{{ comment_count|pluralize:"s,ve" }} been posted
    </div>
    {% if user.is_authenticated %}
    <div class="card card-block border-0 mb-5">
        <div class="card-body">
            <h4 class="card-title text-center pb-3">Post your comment</h4>
            {% render_comment_form for object %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning text-center" role="alert">
        Please <a href="{% url 'account_login' %}">login</a> to post a comment.
    </div>
    {% endif %}
    {% if comment_count %}
    <hr />
    <ul class="media-list p-0">
        {% render_xtdcomment_tree for object allow_flagging allow_feedback show_feedback %}
    </ul>
    {% endif %}
</div>