{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4 login-image" style="background-image: url({% static 'tea-login-hero.jpg' %})">

      </div>
      <div class="col-md-8 text-white login">
        <div class="card-body text-right">
          <h1>Find your new favorite vendor</h1>
          <p class="lead text-white">The internet and globalization has allowed small tea vendors across the world
            access to new markets. Finding these vendors can be a challenge, but I hope this tool allows you to explore
            these new options.</p>
          <a href="{% url 'vendors' %}" class="btn btn-primary text-right">Start your search</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center quote p-5">
    <h4>
      “If you are cold, tea will warm you;
      if you are too heated, it will cool you;
      If you are depressed, it will cheer you;
      If you are excited, it will calm you.”
    </h4>
    <footer class="blockquote-footer locations">William Ewart Gladstone</footer>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-7 login">
        <div class="card-body">
          <ul class="list-group">
            {% for vendor in Featured %}
            <li class="list-group-item p-0">
              <p class="text-white border-bottom"><a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a> <span
                  class="material-symbols-outlined">
                  psychiatry
                </span> <span class="locations">Teas from: {{ vendor.tea_source.all|join:", " }}</span></p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-5 d-flex featured-image" style="background-image: url({% static 'tea-login-hero.jpg' %})">
        <h1 class="w-100 text-center align-self-center">Featured</h1>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-5 d-flex featured-image" style="background-image: url({% static 'tea-login-hero.jpg' %})">
        <h1 class="w-100 text-center align-self-center">Recent</h1>
      </div>
      <div class="col-md-7 login">
        <div class="card-body">
          <ul class="list-group">
            {% for vendor in Recent %}
            <li class="list-group-item p-0">
              <p class="text-white border-bottom"><a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a> <span
                  class="material-symbols-outlined">
                  psychiatry
                </span> <span class="locations">Teas from: {{ vendor.tea_source.all|join:", " }}</span></p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>

  {% endblock %}