{% extends "base.html" %}
{% load account %}
{% load static %}

{% block content %}

<div class="card">
    <div class="row no-gutters">
        
        <div class="col-md-8 text-white login">
            <div class="card-body">
                <h4 class="pb-2 card-title">Welcome, {% user_display user %}</h4>

                <div id="password-reset" hx-get="{% url 'account_change_password' %}" hx-trigger="load"></div>

                <div id="update-email" class="mt-4" hx-get="{% url 'account_email' %}" hx-trigger="load"></div>

            </div>
        </div>
        <div class="col-md-4 featured-image" style="background-image: url({% static 'tea-login-hero.jpg' %})">

        </div>
    </div>
</div>

{% endblock %}