/*
text-orange: #fb9931
text-neon-green: #afe31e
bg-dark: #171d19
bg-med: rgba(32,45,31,1)
pale-yellow: #c7c299
*/

/* Global */

html {
  font-size: 14px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  color: white;
  overflow-x: hidden;
  background: #171d19;
  background-image: linear-gradient(180deg, rgba(23,29,25,1) 0%, rgba(32,45,31,1) 100%);
  font-family: 'Raleway', sans-serif;
}

.list-group-item {
  border: none;
}

.container {
  max-width: 1399px;
}

a {
  text-decoration: underline solid transparent;
  color: #fb9931;
  transition: all .5s;
}

a:hover {
  color: #fb9931;
  transition: all .5s;
}

.link-important {
  color: #afe31e !important;
}

.featured-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100px;
}

.detail {
  margin: 0 -15px;
}

/* Bootstrap RFS */

@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
  p,.p {
    font-size: calc(1.175rem + 0.2vw);
  }
}


/* Header / NavBar */

.navbar {
  max-width: 1399px;
}

.navbar a {
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  transition: all .5s;
  text-decoration: underline !important;
}

.display-4,
h1,
h4,
h4 a,
h4 a:hover {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.text-secondary {
  color: #171d19 !important;
}

.badge-info {
  background-color: #c5d3a0;
  color: black;
}

.badge-success {
  background-color: #2c600f;
}

/* Footer */

footer {
  background-color: #171d19;
}


/* Modals */

.modal {
  overflow-y: auto !important;
}

.modal-footer,
.modal-header,
.border-bottom,
.border-right,
.border,
.border-left {
  border-color: #4a5e13 !important;
}

.locations {
  color: #c7c299;
}

.text-large {
  font-size: 80%;
}

/* Index */

.home-bg-image {
  position: absolute;
  display: inline-block;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
}

#hero {
  background-color: #c7c299;
  margin: 5vh 0;
  padding: 15vh 0 0 0;
}

#recent-vendors, #hero-collections {
  margin: 20vh 0;
}

#hero img {
  position: relative;
  top: 10vh;
  left: 10vw;
}

#hero-collections img{
  position: relative;
  right: 5vw;
}

#recent-vendors h1 {
  position: relative;
}

#recent-vendors h1:before {
  content: "";
  display: block;
  width: 33%;
  height: 2px;
  background: #c7c299;
  opacity: .4;
  left: 0;
  top: 50%;
  position: absolute;
}

#recent-vendors h1:after {
  content: "";
  display: block;
  width: 33%;
  height: 2px;
  background: #c7c299;
  opacity: .4;
  right: 0;
  top: 50%;
  position: absolute;
}

.quote {
  margin-top: 0;
  margin-bottom: 0;
}

#tea_map {
  margin: 5vh auto;
  max-width: 960px;
  overflow: hidden;
}

#tea_map svg {
  width: 100%;
}

.map-tooltip {
  position: absolute;
  overflow: hidden;
  z-index: 1070;
}

.index-card-list h4:last-of-type {
  margin-top: 1em;
}

/* Vendor list */

.card-deck .card {
  min-width: 220px;
}

.list-group-item,
.card,
.modal-content,
.filter-form {
  background-color: #171d19;;
}

.material-small {
  font-size: 16px !important;
  color: #fb9931 !important;
}

form .material-small {
  font-size: 16px !important;
  color: #c7c299 !important;
}

.material-xs {
  font-size: 80% !important;
}

.page-nav {
  background-color: transparent !important;
}

.page-link {
  background-color: #2c600f !important;
  border: none;
  outline: none;
  transition: background-color .5s;
}

.page-link:hover {
  background-color: #fb9931 !important;
  transition: background-color .5s;
}

.rounded {
  border-radius: .5rem !important;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0 !important;
}

/* Forms and buttons */

.filter-form input[type="checkbox"], .no-tick input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

input[type="checkbox"]:checked+.label-for-check {
  background-color: #9dd02d;
  color: black;
}

.btn-primary,
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #afe31e;
  border: none;
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: .75em 2em;
  text-decoration: none;
  margin: .5em .25em;
  cursor: pointer;
  transition: background-color .5s;
}

.btn-primary:hover,
input[type=submit]:hover {
  background-color: #fb9931 !important;
  transition: background-color .5s;
}

.btn-secondary { 
  background-color: #171d19;
  border: 1px solid #171d19;
  color: #b0e41f;
  border: none;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: .75em 2em;
  text-decoration: none;
  margin: .5em .25em;
  cursor: pointer;
  transition: all .5s;
}

.btn-secondary:hover {
  background-color: #202d1f !important;
  border: 1px solid #b0e41f;
  color: #b0e41f;
  transition: all .5s;
}

.btn-outline-primary {
  border-color: #9dd02d;
  color: #9dd02d;
  cursor: pointer;
  transition: background-color .5s;
}

.btn-outline-primary:hover {
  background-color: #9dd02d;
  cursor: pointer;
  outline: none;
  transition: background-color .5s;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
.ts-control,
.CodeMirror,
textarea {
  background-color: rgba(32,45,31,1) !important;
  border: none !important;
  color: white !important;
  padding: .75rem 1.25rem;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
textarea:focus {
  outline: none;
  color: white !important;
}

select {
  background-color: rgba(32,45,31,1);
  border: none;
  color: white;
  padding: .5rem 1.25rem;
  margin-top: .5rem;
}

.btn-link {
  color: white !important;
  text-decoration: underline solid transparent;
  transition: all .5s;
}

.btn-link {
  transition: all .5s;
}

#id_o {
  width: 100%
}

.ts-dropdown {
  background-color: #171d19;
  color: white;
  border-color: rgba(32,45,31,1);
}

.ts-dropdown .active { 
  background-color: rgba(32,45,31,1);
  color: white;
}

.ts-dropdown, .ts-control, .ts-control input {
  color: white;
}

.editor-toolbar {
  border-color: rgba(32,45,31,1) !important;
}

.editor-toolbar a {
  color: #9dd02d !important;
}

.editor-toolbar i.separator {
  border-color: rgba(32,45,31,1) !important;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
  background-color: rgba(32,45,31,1) !important;
  border: none;
}

/* Vendor Detail */

.badge-primary {
  background-color: #fb9931;
}

#comment-error:empty {
  display: none;
}

.comment .blockquote-footer {
  font-size: 100%;
}

.comment .material-symbols-outlined {
  color: white !important;
  font-size: inherit !important;
  height: 100%;
}

/* Login / Auth */

.social-providers .list-group-item {
  background-color: white;
}

.login p {
  color: #c5d3a0;
}

.login-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.tea-marker {
  --icon-size: .8em;
  --gutter: .5em;
  padding: 0 0 0 var(--icon-size);
}

.tea-marker li {
  padding-left: var(--gutter);
}

.tea-marker li::marker {
  content: "\e123"; /* FontAwesome Unicode */
  font-family: 'Material Symbols Outlined';
  font-size: var(--icon-size);
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

/* Collections */

#collection-rating:hover {
  text-decoration: none;
}

.rating-img {
  width: 32px;
  height: 32px;
  background-image: url('/static/gaiwan.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.rating-img:hover {
  background-image: url('/static/gaiwan-hover.png');
  transition: all .5s;
}