{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
    <div id="collections-list" class="col-12 col-md-9 order-2 order-md-1 px-0">
        {% include 'collections/collections_list_partial.html' %}
    </div>
    <div class="col-12 col-md-3 order-1 order-md-2">
        <div class="card mb-3 mb-3 border-0 shadow">
            <div class="card-body">
                <form class="" hx-get="{% url 'collections' %}" hx-target="#collections-list" hx-push-url="true">
                    {{ filter_form.form.name }}
                </form>
                <a href="{% url 'collections_new' %}" class="btn btn-primary rounded-0 w-100 mx-0">Create a new
                    collection</a>
            </div>
        </div>
        </form>
        {% if user.is_authenticated %}
        <div class="card mb-3 mt-3 border-0 shadow">
            <div class="card-body">
                <h4 class="mb-0">Your Collections</h4>
                <ul class="pt-4 pb-4 tea-marker">
                    {% for collection in userCollections %}
                    <li class="border-bottom">
                        <a href="{{ collection.get_absolute_url }}">
                            {{ collection.name }}
                        </a>
                        <small class="text-muted">{{ collection.created_on }}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="card mb-3 mt-3 border-0 shadow">
            <div class="card-body">
                <h4 class="mb-0">Top Collections</h4>
                <ul class="pt-4 pb-4 tea-marker">
                    {% for collection in topCollections %}
                    <li class="border-bottom">
                        <a href="{{ collection.get_absolute_url }}">
                            {{ collection.name }}
                        </a>
                        <small class="text-muted">By {{ collection.user.username }}</small>
                        <span class="badge badge-success float-right">+{{ collection.rating.all.count }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}