{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mx-auto card bg-base-300 shadow-xl">
        <div class="grid grid-cols-3">
            <figure style="background-image: url({% static 'tea-login-hero.jpg' %})" class="bg-center bg-cover rounded-lg">
            </figure>
            <div class="col-span-2 text-white login">
                <div class="card-body gap-4">
                    <h4 class="font-serif font-bold text-3xl pb-2 card-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    <form method="POST" action="{{ action_url }}" class="form-control gap-4">
                        {% csrf_token %}
                        <label for="{{ form.password1.id_for_label }}" class="join join-vertical gap-2 w-full">
                            <span class="label-text text-accent">New Password</span>
                            <input type="password" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }}" required="" class="input">
                        </label>
                        <label for="{{ form.pasword2.id_for_label }}" class="join join-vertical gap-2 w-full">
                            <span class="label-text text-accent">New Password (Again)</span>
                            <input type="password" name="{{ form.pasword2.html_name }}" id="{{ form.pasword2.id_for_label }}" required="" class="input">
                        </label>
                        <input type="submit" name="action" value="{% trans 'Change password' %}" class="btn btn-primary hover:btn-secondary w-full mt-4"/>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
{% endblock %}