{% load i18n %}
{% load static %}
{% block content %}
<div class="container card bg-base-300 mx-auto shadow-xl">
    <div class="row no-gutters">
        <div class="col-md-4 featured-image" style="background-image: url({% static 'tea-login-hero.jpg' %})">

        </div>
        <div class="col-md-8 text-white login">
            <div class="card-body">
                <h4 class="pb-2 card-title">{% trans "Change Password" %}</h4>

                <form hx-post="{% url 'account_change_password' %}" class="password_change"
                    hx-target="#password-reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Change Password' %}" class="w-100 p-1 submit-filters" />
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}