{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}


{% block content %}
<div class="container mx-auto card card-side bg-base-300 shadow-xl">
    <div class="grid md:grid-cols-3 w-full">
        <figure style="background-image: url({% static 'tea-login-hero.jpg' %})" class="bg-center bg-cover rounded-lg">
        </figure>
        <div class="md:col-span-2 w-full">
            <div class="card-body join join-vertical gap-4 w-full">
                <h4 class="font-serif font-bold text-3xl pb-2 card-title ">{% trans "Password Reset" %}</h4>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="text-accent text-sm">
                    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <label for="{{ form.email.id_for_label }}" class="join join-vertical gap-2 w-full">
                        <span class="label-text">E-mail:</span>
                        <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" placeholder="E-mail address" autocomplete="email" required="" class="input">
                    </label>
                    

                    <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary hover:btn-secondary mt-4 w-full"/>
                </form>

                <p class="text-accent text-sm">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}