{% load i18n %}
{% load static %}
{% block content %}

<div class="card-body">
    <h4 class="font-serif font-bold text-2xl card-title">{% trans "Change Password" %}</h4>

    <form hx-post="{% url 'account_change_password' %}" class="password_change" hx-target="#password-reset">
        {% csrf_token %}
        <div class="form-control gap-4">
            <label for="{{ form.oldpassword.id_for_label }}" class="join join-vertical gap-2 w-full">
                <span class="label-text">Old Password</span>
                <input type="password" name="{{ form.oldpassword.html_name }}" id="{{ form.oldpassword.id_for_label }}" required="" class="input">
            </label>
            <label for="{{ form.password1.id_for_label }}" class="join join-vertical gap-2 w-full">
                <span class="label-text">New Password</span>
                <input type="password" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }}" required="" class="input">
            </label>
            <label for="{{ form.pasword2.id_for_label }}" class="join join-vertical gap-2 w-full">
                <span class="label-text">New Password (Again)</span>
                <input type="password" name="{{ form.pasword2.html_name }}" id="{{ form.pasword2.id_for_label }}" required="" class="input">
            </label>
            <input type="submit" value="{% trans 'Change Password' %}" class="btn btn-primary hover:btn-secondary font-serif w-full" />
            <a href="{% url 'account_reset_password' %}" class="text-accent text-sm">{% trans "Forgot Password?" %}</a>
        </div>
    </form>
</div>

{% endblock %}