{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4 featured-image" style="background-image: url({% static 'tea-login-hero.jpg' %})">

            </div>
            <div class="col-md-8 text-white login">
                <div class="card-body">
                    <h4 class="pb-2 card-title">{% trans "Change Password" %}</h4>
                        <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}