{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

  <div class="card rounded">
    <div class="row no-gutters">
      <div class="col-md-4 rounded login-image" style="background-image: url({% static 'tea-login-hero.jpg' %})">

      </div>
      <div class="col-md-8 text-white login">
        <div class="card-body">
          <h4 class="pb-2 card-title">{% trans "Sign Up" %}</h4>

          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <input type="submit" value="{% trans 'Sign Up' %}" class="w-100 p-1 submit-filters" />
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}