{% extends "base.html" %}

{% block content %}

<div class="container mx-auto">
<div class="grid md:grid-cols-4 gap-2">
    <div id="collections-list" class="md:col-span-3 gap-2">
        {% include 'collection/collections_list_partial.html' %}
    </div>
    <div class="order-first md:order-last">
        <div class="card bg-base-300 mb-3 border-0 drop-shadow-xl">
            <div class="card-body">
                <form class="" hx-get="{% url 'collections' %}" hx-target="#collections-list" hx-push-url="true">
                    {{ filter_form.form.name }}
                </form>
                <a href="{% url 'collections_new' %}" class="btn btn-primary hover:btn-secondary font-serif w-full">Create a new
                    collection</a>
            </div>
        </div>
        </form>
        {% if user.is_authenticated %}
        <div class="collapse collapse-plus md:collapse-open bg-base-300 mb-3 mt-3 border-0 shadow-xl px-8">
           <input type="checkbox" /> 
           <h4 class="collapse-title font-serif font-bold text-2xl mb-0 px-0">Your Collections</h4>
           <div class="collapse-content px-0">
                <ul class="pt-4 pb-4 tea-marker">
                    {% for collection in userCollections %}
                    <li class="border-b border-success">
                        <a href="{{ collection.get_absolute_url }}" class="border-b border-transparent hover:border-b hover:border-secondary transition ease-in-out text-secondary">
                            {{ collection.name }}
                        </a>
                        <small class="text-accent">{{ collection.created_on }}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="collapse collapse-plus md:collapse-open bg-base-300 mb-3 mt-3 border-0 shadow-xl px-8">
            <input type="checkbox" /> 
            <h4 class="collapse-title font-serif font-bold text-2xl mb-0 px-0">Top Collections</h4>
            <div class="collapse-content px-0">
                <ul class=" pt-4 pb-4 tea-marker">
                    {% for collection in topCollections %}
                    <li class="border-b border-success">
                        <a href="{{ collection.get_absolute_url }}" class="text-secondary border-b border-transparent hover:border-b hover:border-secondary transition ease-in-out">
                            {{ collection.name }}
                        </a>
                        <small class="text-accent">By {{ collection.user.username }}</small>
                        <span class="badge badge-success float-right">+{{ collection.rating.all.count }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}