{% load markdown_extras %}
{% load static %}

<div class="card-body">
    <h4 class="font-serif font-bold text-3xl card-title">{{ name }}</h4>

    {% if vendors %}
    <ul class="">
        {% for vendor in vendors %}
        <li class="border-b border-success">
            <a href="{{ vendor.get_absolute_url }}" hx-get="{{ vendor.get_absolute_url }}" hx-target="#htmx_modal" hx-trigger="click"
            hx-on:click="daisy_modal.showModal()" class="text-secondary border-b border-transparent hover:border-b hover:border-secondary transition ease-in-out">
                {{ vendor.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p class="markdown">{{ content|markdown|safe }}</p>
</div>

