{% load markdown_extras %}
<div class="p-0">
    {% if filter %}
    {% for collection in filter %}
    <div class="card bg-base-300 mt-0 mb-2 border-0 shadow-xl">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div class="card-title flex justify-between">
                <div id="card-headline" class="w-fit">
                    <h4 class="font-serif font-bold text-2xl text-secondary">
                        <a href="{{ collection.get_absolute_url }}" class="border-0 border-transparent hover:border-b hover:border-secondary transition ease-in-out">
                            {{ collection.name }}
                        </a>
                    </h4>
                    <small class="text-accent">By {{ collection.user.username }} on
                        {{ collection.created_on|date:"D, F jS" }}
                    </small>
                </div>
                <span class="badge badge-success justify-end font-serif font-bold">+{{ collection.rating.all.count }}</span>
            </div>

        {% if collection.content %}
        <div class="pt-4 pb-4">
            {{ collection.content|markdown|safe|truncatewords:64 }}
        </div>
        {% endif %}
        </diV>
    </div>
    {% endfor %}

    <!-- If there are no results matching the filter -->

    {% else %}
    <li class="list-group-item mt-1 mb-1 mr-2 border-bottom">
        <p>There are no collections that match your criteria.</p>
    </li>
    {% endif %}

    <!-- Pagination -->

    <div class="join grid grid-cols-2">
        {% if filter.has_previous %}
        <button class="join-item btn btn-success hover:btn-secondary" hx-get="{% url 'collections' %}?page={{ filter.previous_page_number }}&{{ parameters }}"
        hx-target="#collections-list" hx-push-url="true" hx-swap="innerHTML show:top">Previous</button>
        {% endif %}
        {% if filter.has_next %}
        <button class="join-item btn btn-success hover:btn-secondary col-start-2" hx-get="{% url 'collections' %}?page={{ filter.next_page_number }}&{{ parameters }}"
        hx-target="#collections-list" hx-push-url="true" hx-swap="innerHTML show:top">Next</button>
        {% endif %}
    </div>
</div>